---
# =============================================================================
#  Author : Martin AUBEUT
#  Ansible Playbook — Configuration du hostname serveur
#  Usage : ansible-playbook -i inventory.ini hostname.yml
#  Version : 1.0 (2025-19-02)
#  Modification :
#  - 2025-19-02 - Initial version
# =============================================================================

- name: Configuration du hostname
  hosts: all
  become: yes
  tasks:
    - name: Définir le hostname du serveur
      hostname:
        name: "{{ inventory_hostname }}"
      
    - name: Mettre à jour /etc/hosts
      lineinfile:
        path: /etc/hosts
        regexp: '^127\.0\.1\.1'
        line: "127.0.1.1 {{ inventory_hostname }}"
        state: present


