---
# =============================================================================
#  Author : Martin AUBEUT
#  Ansible Playbook — Création utilisateur administrateur
#  Usage : ansible-playbook -i inventory.ini user.yml
#  Version : 1.0 (2025-19-02)
#  Modification :
#  - 2025-19-02 - Initial version
# =============================================================================

- name: Create admin user
  hosts: all
  become: true

  vars:
    admin_user: m1398al

  tasks:
    - name: Create user
      user:
        name: "{{ admin_user }}"
        shell: /bin/bash
        create_home: true
        state: present

    - name: Add user to sudo group
      user:
        name: "{{ admin_user }}"
        groups: sudo
        append: true

    - name: Deploy SSH public key
      authorized_key:
        user: "{{ admin_user }}"
        state: present
        key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"